/* Write your CSS here */
.bgContainer {
  background-color: #f1f5f8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.heading {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  color: #2d3a35;
}
.special {
  color: #c20a72;
}
.hit {
  font-size: 8px;
}
.btn {
  color: #ffffff;
  cursor: pointer;
  outline: none;
  background-color: #007bff;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 6px;
  border: 0px none;
}
